*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow-x: hidden;
}
.container{
    width: 70%;
    margin: 20px auto;
    padding: 20px;
}
.form{
    width: 70%;
    margin: 10px auto;
    padding-bottom: 20px;
}
.form::after{
    content: "";
    clear: both;
    display: inline;
}
.form input,.form button{
    height: 35px;
    border-radius: 3px;
    float: left;
}
.form input{
    width: 85%;
    border: 1px solid gray;
}
.form button{
    width: 7%;
    color: black;
    margin-left: 3px;
}
#nimilista{
    width: 70%;
    margin: 20px auto;
    list-style-type: none;
}
#nimilista li{
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 5px 10px #8b8b8b07;
    border: 1px solid rgba(123,123,123,0.2);
    border-radius: 3px;
}
#nimilista li a{
    font-size: 17px;
    float: right;
    cursor: pointer;
}
h2 {
    margin-left: 15%;
}